<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Fuwatter</title>
    <script type="text/javascript" src="/js/jquery-1.3.1.min.js"></script>
    <script type="text/javascript" src="/js/testjson.js"></script>
    <link rel="shortcut icon" href="http://d.hatena.ne.jp/images/diary/s/suztomo/favicon.ico" />
    <link rel="stylesheet" href="/css/style.css"
          type="text/css" media="all" />
  </head>
  <body>
    <h1 id="fuwatter">Fuwatter</h1>
    <p id="error">Firstly, please login twitter.com</p>
    <div style="width: 100%;" id="images"> </div>
  </body>
</html>
